/* Specific styles for non-active navbar links */
.nonActive {
    color: white;
}

/* Specific styles for active navbar links */
.active {
    color: #7a003c;
    background: white;
}

/* Specific styles when hover over active navbar links */
.active:hover {
    color: #7a003c;
    background: white;
}

/* Specific styles when hover over the application title in the navbar */
.title:hover {
    color: #fdbf57;
}