.skipLink {
  margin-right: 1rem !important;
  position: absolute !important;
  transform: translateX(-200%) !important;
  transition: transform 0.3s !important;

  &:focus {
    position: absolute !important;
    transform: translateX(0) !important;
  }
}